In [1]:
%load_ext autoreload
%autoreload 2

## Aggregated Identification Performance using IOKR MS-Scores

Table 5.

In [42]:
from msmsrt_scorer.experiments.figures_and_tables import table__MetFrag_vs_IOKR_comparison

table__MetFrag_vs_IOKR_comparison("..")

# print(table__MetFrag_vs_IOKR_comparison("..", to_latex=True))

  \msms{}-Scorers   Method  Top-1  Top-5  Top-10  Top-20
0            IOKR  MS + RT   26.8   51.9    62.3    70.3
1            IOKR  Only MS   25.1   49.5    60.3    67.6
2         MetFrag  MS + RT   21.2   52.6    63.9    73.9
3         MetFrag  Only MS   16.7   49.5    60.4    70.6