In [1]:
%load_ext autoreload
%autoreload 2

## Comparison of MetFrag's and IOKR's Aggregated Metabolite Identification Performance 

Table 5.

In [116]:
from msmsrt_scorer.experiments.figures_and_tables import table__MetFrag_vs_IOKR_comparison

table__MetFrag_vs_IOKR_comparison("..")

# print(table__MetFrag_vs_IOKR_comparison("..", to_latex=True))

  \msms{}-Scorers   Method  Top-1  Top-5  Top-10  Top-20
0            IOKR  MS + RT   26.8   51.9    62.3    70.3
1            IOKR  Only MS   25.1   49.5    60.3    67.6
2         MetFrag  MS + RT   21.2   52.6    63.9    73.9
3         MetFrag  Only MS   16.7   49.5    60.4    70.6

## Aggregated Metabolite Identification Performance of the different Edge-potential Functions

Table S1.

In [193]:
from msmsrt_scorer.experiments.figures_and_tables import table__edgepotential_function_comparison

res_scores, res_p = table__edgepotential_function_comparison("..", test="wilcoxon_twoside")

# print(table__edgepotential_function_comparison("..", to_latex=True, test="wilcoxon_twoside"))

In [194]:
res_scores

                         Method  Top-1  Top-5  Top-10  Top-20
0  MS + RT (our, hinge_sigmoid)   21.3   52.5    64.2    74.2
1        MS + RT (our, sigmoid)   21.2   52.6    63.9    73.9
2        MS + RT (our, stepfun)   20.3   52.2    63.8    74.2
3                       Only MS   16.7   49.5    60.4    70.6

In [195]:
res_p

                         Method  Top-1  Top-5 Top-10 Top-20
0  MS + RT (our, hinge_sigmoid)  (***)  (***)  (***)  (***)
1        MS + RT (our, sigmoid)  (***)  (***)  (***)  (***)
2        MS + RT (our, stepfun)  (***)  (***)  (***)  (***)

Table showing the significance of the improvement over the baseline (Only MS) determined using the two-sided Wilcoxon signed-rank test.

## Separate Table Comparing the different Methods

In [271]:
from msmsrt_scorer.experiments.figures_and_tables import table__alternative_methods_comparison

res_global_score, res_global_sigf = table__alternative_methods_comparison("..", test="wilcoxon_twoside", to_latex=False)

# print(table__alternative_methods_comparison("..", test="wilcoxon_twoside", to_latex=True))

### Top-k accuracies

Table 2.

In [272]:
res_global_score

# print(res_global_score)

                                                     Top-1       Top-5  \
Dataset       Ionization Method
EA (Massbank) positive   MS + RT (Chain-graph)  23.9 (***)        59.2
                         MS + RT (MetFrag 2.2)  24.0 (***)        59.0
                         MS + RT (our)          27.1 (***)  61.5 (***)
                         Only MS                      21.2        59.0
              negative   MS + RT (Chain-graph)  27.2 (***)  59.5 (***)
                         MS + RT (MetFrag 2.2)  30.2 (***)  59.2 (***)
                         MS + RT (our)          29.1 (***)  62.3 (***)
                         Only MS                      22.8        57.6
CASMI 2016    positive   MS + RT (Chain-graph)        11.9        36.5
                         MS + RT (MetFrag 2.2)  13.7 (***)        36.2
                         MS + RT (our)          13.9 (***)  40.3 (***)
                         Only MS                      11.8        37.3
              negative   MS + RT (Chain-graph)  13.2 (***)  49.4 (***)
                         MS + RT (MetFrag 2.2)  14.0 (***)        42.0
                         MS + RT (our)          15.0 (***)  46.6 (***)
                         Only MS                      11.1        44.2

                                                    Top-10      Top-20
Dataset       Ionization Method
EA (Massbank) positive   MS + RT (Chain-graph)        70.1  79.1 (***)
                         MS + RT (MetFrag 2.2)        69.5        77.1
                         MS + RT (our)          72.9 (***)  80.5 (***)
                         Only MS                      69.7        77.6
              negative   MS + RT (Chain-graph)  72.4 (***)  81.8 (***)
                         MS + RT (MetFrag 2.2)  73.6 (***)  84.4 (***)
                         MS + RT (our)          73.7 (***)  83.1 (***)
                         Only MS                      69.5        78.5
CASMI 2016    positive   MS + RT (Chain-graph)  50.2 (***)  60.7 (***)
                         MS + RT (MetFrag 2.2)        46.2        57.5
                         MS + RT (our)          52.4 (***)  62.3 (***)
                         Only MS                      47.0        58.3
              negative   MS + RT (Chain-graph)  61.0 (***)   69.4 (**)
                         MS + RT (MetFrag 2.2)        55.5  71.2 (***)
                         MS + RT (our)            56.7 (*)   69.4 (**)
                         Only MS                      55.3        68.0

### Pairwise test for significant improvement

Table 4. Is there a significant improvement of the row method over the column method?

In [273]:
res_global_sigf[1]

# print(res_global_sigf[1])

Method-2,Method-1,MS + RT (Chain-graph),MS + RT (MetFrag 2.2),MS + RT (our),Only MS
0,MS + RT (Chain-graph),n.s,n.s,n.s,8.0e-26
1,MS + RT (MetFrag 2.2),4.3e-08,n.s,n.s,5.8e-38
2,MS + RT (our),1.7e-23,1.0e-07,n.s,2.3e-38
3,Only MS,n.s,n.s,n.s,n.s

In [274]:
res_global_sigf[20]

# print(res_global_sigf[20])

Method-2,Method-1,MS + RT (Chain-graph),MS + RT (MetFrag 2.2),MS + RT (our),Only MS
0,MS + RT (Chain-graph),n.s,8.1e-04,n.s,4.3e-23
1,MS + RT (MetFrag 2.2),n.s,n.s,n.s,4.3e-10
2,MS + RT (our),6.3e-09,3.8e-11,n.s,4.6e-32
3,Only MS,n.s,n.s,n.s,n.s

## Comparison of different Candidate Set Definitions

### MetFrag

Table 6.

In [225]:
from msmsrt_scorer.experiments.figures_and_tables import table__candidate_set_comparison

table__candidate_set_comparison("..", ms2scorer="MetFrag")

# print(table__candidate_set_comparison_MetFrag("..", ms2scorer="MetFrag", to_latex=True))

                                  Top-1       Top-5      Top-10      Top-20
Candidate Set Method
All           MS + RT (our)  14.4 (***)  43.4 (***)  54.6 (***)  65.9 (***)
              Only MS              11.4        40.7        51.2        63.2
Correct MF    MS + RT (our)  17.5 (***)  48.3 (***)  59.7 (***)  70.5 (***)
              Only MS              13.1        46.0        56.9        68.7

### IOKR

Not shown in the paper. Maybe we can put it into the supplementary material.

In [226]:
table__candidate_set_comparison("..", ms2scorer="IOKR")

                                  Top-1       Top-5      Top-10      Top-20
Candidate Set Method
All           MS + RT (our)  26.1 (***)  48.3 (***)  59.9 (***)  69.1 (***)
              Only MS              24.4        46.0        58.4        65.5
Correct MF    MS + RT (our)        30.2        52.3  66.2 (***)        74.7
              Only MS              30.6        53.9        65.3        74.8