In [1]:
%load_ext autoreload
%autoreload 2

## Comparison of MetFrag's and IOKR's Aggregated Metabolite Identification Performance 

Table 5.

In [116]:
from msmsrt_scorer.experiments.figures_and_tables import table__MetFrag_vs_IOKR_comparison

table__MetFrag_vs_IOKR_comparison("..")

# print(table__MetFrag_vs_IOKR_comparison("..", to_latex=True))

  \msms{}-Scorers   Method  Top-1  Top-5  Top-10  Top-20
0            IOKR  MS + RT   26.8   51.9    62.3    70.3
1            IOKR  Only MS   25.1   49.5    60.3    67.6
2         MetFrag  MS + RT   21.2   52.6    63.9    73.9
3         MetFrag  Only MS   16.7   49.5    60.4    70.6

## Aggregated Metabolite Identification Performance of the different Edge-potential Functions

Table S1.

In [193]:
from msmsrt_scorer.experiments.figures_and_tables import table__edgepotential_function_comparison

res_scores, res_p = table__edgepotential_function_comparison("..", test="wilcoxon_twoside")

# print(table__edgepotential_function_comparison("..", to_latex=True, test="wilcoxon_twoside"))

In [194]:
res_scores

                         Method  Top-1  Top-5  Top-10  Top-20
0  MS + RT (our, hinge_sigmoid)   21.3   52.5    64.2    74.2
1        MS + RT (our, sigmoid)   21.2   52.6    63.9    73.9
2        MS + RT (our, stepfun)   20.3   52.2    63.8    74.2
3                       Only MS   16.7   49.5    60.4    70.6

In [195]:
res_p

                         Method  Top-1  Top-5 Top-10 Top-20
0  MS + RT (our, hinge_sigmoid)  (***)  (***)  (***)  (***)
1        MS + RT (our, sigmoid)  (***)  (***)  (***)  (***)
2        MS + RT (our, stepfun)  (***)  (***)  (***)  (***)

Table showing the significance of the improvement over the baseline (Only MS) determined using the two-sided Wilcoxon signed-rank test.